/PSU_OOP_CourseWork/bin/
PSU_OOP_CourseWork/docs/getting-started.md
PSU_OOP_CourseWork/docs/introduction.md
PSU_OOP_CourseWork/docs/toc.yml
PSU_OOP_CourseWork/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
PSU_OOP_CourseWork/obj/Debug/net8.0/apphost
PSU_OOP_CourseWork/obj/Debug/net8.0/Avalonia/original.dll
PSU_OOP_CourseWork/obj/Debug/net8.0/Avalonia/original.pdb
PSU_OOP_CourseWork/obj/Debug/net8.0/Avalonia/original.ref.dll
PSU_OOP_CourseWork/obj/Debug/net8.0/Avalonia/references
PSU_OOP_CourseWork/obj/Debug/net8.0/Avalonia/resources
PSU_OOP_CourseWork/obj/Debug/net8.0/Avalonia/Resources.Inputs.cache
PSU_OOP_CourseWork/obj/Debug/net8.0/PSU_OOP_CourseWork.AssemblyInfo.cs
PSU_OOP_CourseWork/obj/Debug/net8.0/PSU_OOP_CourseWork.AssemblyInfoInputs.cache
PSU_OOP_CourseWork/obj/Debug/net8.0/PSU_OOP_CourseWork.assets.cache
PSU_OOP_CourseWork/obj/Debug/net8.0/PSU_OOP_CourseWork.csproj.AssemblyReference.cache
PSU_OOP_CourseWork/obj/Debug/net8.0/PSU_OOP_CourseWork.csproj.CopyComplete
PSU_OOP_CourseWork/obj/Debug/net8.0/PSU_OOP_CourseWork.csproj.CoreCompileInputs.cache
PSU_OOP_CourseWork/obj/Debug/net8.0/PSU_OOP_CourseWork.csproj.FileListAbsolute.txt
PSU_OOP_CourseWork/obj/Debug/net8.0/PSU_OOP_CourseWork.dll
PSU_OOP_CourseWork/obj/Debug/net8.0/PSU_OOP_CourseWork.GeneratedMSBuildEditorConfig.editorconfig
PSU_OOP_CourseWork/obj/Debug/net8.0/PSU_OOP_CourseWork.genruntimeconfig.cache
PSU_OOP_CourseWork/obj/Debug/net8.0/PSU_OOP_CourseWork.pdb
PSU_OOP_CourseWork/obj/Debug/net8.0/ref/PSU_OOP_CourseWork.dll
PSU_OOP_CourseWork/obj/Debug/net8.0/refint/PSU_OOP_CourseWork.dll
PSU_OOP_CourseWork/obj/project.assets.json
PSU_OOP_CourseWork/obj/project.nuget.cache
PSU_OOP_CourseWork/obj/project.packagespec.json
PSU_OOP_CourseWork/obj/PSU_OOP_CourseWork.csproj.nuget.dgspec.json
PSU_OOP_CourseWork/obj/PSU_OOP_CourseWork.csproj.nuget.g.props
PSU_OOP_CourseWork/obj/PSU_OOP_CourseWork.csproj.nuget.g.targets
PSU_OOP_CourseWork/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
PSU_OOP_CourseWork/obj/Release/net8.0/apphost
PSU_OOP_CourseWork/obj/Release/net8.0/Avalonia/original.dll
PSU_OOP_CourseWork/obj/Release/net8.0/Avalonia/original.pdb
PSU_OOP_CourseWork/obj/Release/net8.0/Avalonia/original.ref.dll
PSU_OOP_CourseWork/obj/Release/net8.0/Avalonia/references
PSU_OOP_CourseWork/obj/Release/net8.0/Avalonia/resources
PSU_OOP_CourseWork/obj/Release/net8.0/Avalonia/Resources.Inputs.cache
PSU_OOP_CourseWork/obj/Release/net8.0/PSU_OOP_CourseWork.AssemblyInfo.cs
PSU_OOP_CourseWork/obj/Release/net8.0/PSU_OOP_CourseWork.AssemblyInfoInputs.cache
PSU_OOP_CourseWork/obj/Release/net8.0/PSU_OOP_CourseWork.assets.cache
PSU_OOP_CourseWork/obj/Release/net8.0/PSU_OOP_CourseWork.csproj.AssemblyReference.cache
PSU_OOP_CourseWork/obj/Release/net8.0/PSU_OOP_CourseWork.csproj.CopyComplete
PSU_OOP_CourseWork/obj/Release/net8.0/PSU_OOP_CourseWork.csproj.CoreCompileInputs.cache
PSU_OOP_CourseWork/obj/Release/net8.0/PSU_OOP_CourseWork.csproj.FileListAbsolute.txt
PSU_OOP_CourseWork/obj/Release/net8.0/PSU_OOP_CourseWork.dll
PSU_OOP_CourseWork/obj/Release/net8.0/PSU_OOP_CourseWork.GeneratedMSBuildEditorConfig.editorconfig
PSU_OOP_CourseWork/obj/Release/net8.0/PSU_OOP_CourseWork.genruntimeconfig.cache
PSU_OOP_CourseWork/obj/Release/net8.0/PSU_OOP_CourseWork.pdb
PSU_OOP_CourseWork/obj/Release/net8.0/ref/PSU_OOP_CourseWork.dll
PSU_OOP_CourseWork/obj/Release/net8.0/refint/PSU_OOP_CourseWork.dll
PSU_OOP_CourseWork/obj/rider.project.model.nuget.info
PSU_OOP_CourseWork/obj/rider.project.restore.info
readme/c_Курсовое проектирование.pdf
